## Introduction
 - In this file we see the people's comment & ratings on Grras Solution Web Page of by using Web Scraping.

#### URL --> https://grras.com/page/ratings-reviews

### Importing all the necessary libraries.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://grras.com/page/ratings-reviews'
resp = requests.get(url)

In [3]:
resp.status_code

200

In [4]:
url = 'https://grras.com/page/ratings-reviews'
resp = requests.get(url)
soup = BeautifulSoup(resp.text,'html')

In [5]:
a = soup.find_all('div',attrs={'class':'review-section-wrapper'})

In [6]:
b= a[0].find_all('h3')

In [7]:
c=b[::2]

In [8]:
name = []

In [9]:
for i in range(len(c)):
    name.append(c[i].text)

In [10]:
d = a[0].find_all('h4')

In [11]:
rating = []

In [12]:
for i in range (len(d)):
    rating.append(d[i].text)

In [13]:
e = a[0].find_all('p')

In [14]:
comment = []

In [15]:
for i in range(len(e)):
    comment.append(e[i].text)

##### Create a datarame of People's name and their date of commenting.

In [17]:
df = pd.DataFrame(name)

In [18]:
df

                               0
0        Ritik Sharma (Apr 2020)
1    Niharika Chauhan (Apr 2020)
2        Megha Sharma (Apr 2020)
3      Shivani Kanwar (Apr 2020)
4       Priyanka Jain (Apr 2020)
..                           ...
244      Dewan Parmar (Jun 2018)
245             Dewan (Jun 2018)
246     Himanshu Jain (Jun 2018)
247     Himanshu Jain (Jun 2018)
248     Himanshu Jain (Jun 2018)

[249 rows x 1 columns]

##### Create a datarame of People's Ratings.

In [19]:
df1 = pd.DataFrame(rating)

In [20]:
df1

       0
0    5/5
1    5/5
2    5/5
3    5/5
4    5/5
..   ...
244  5/5
245  4/5
246  5/5
247  5/5
248  5/5

[249 rows x 1 columns]

##### Create a datarame of People's Comments.

In [21]:
df2 = pd.DataFrame(comment)

In [22]:
df2

                                                     0
0    I have a good experience at grras solutions in...
1    It have been wonderful experience with Grras "...
2    I did the whole course online. It was the firs...
3    Really nice learning with Grras. Best place to...
4
..                                                 ...
244                                               Good
245                                      Great to join
246  Awesome Faculty and Lab Environment. I Have go...
247  Awesome Faculty and Lab Environment. I Have go...
248  Awesome Faculty and Lab Environment. I Have go...

[249 rows x 1 columns]

##### Dataframe

In [23]:
d = {'Names': name, 'Comment': comment,'Rating': rating}

In [24]:
pd.DataFrame(data=d)

,Names,Comment,Rating
0,Ritik Sharma (Apr 2020),I have a good experience at grras solutions in...,5/5
1,Niharika Chauhan (Apr 2020),"It have been wonderful experience with Grras ""...",5/5
2,Megha Sharma (Apr 2020),I did the whole course online. It was the firs...,5/5
3,Shivani Kanwar (Apr 2020),Really nice learning with Grras. Best place to...,5/5
4,Priyanka Jain (Apr 2020),,5/5
...,...,...,...
244,Dewan Parmar (Jun 2018),Good,5/5
245,Dewan (Jun 2018),Great to join,4/5
246,Himanshu Jain (Jun 2018),Awesome Faculty and Lab Environment. I Have go...,5/5
247,Himanshu Jain (Jun 2018),Awesome Faculty and Lab Environment. I Have go...,5/5
248,Himanshu Jain (Jun 2018),Awesome Faculty and Lab Environment. I Have go...,5/5